.seccion1{
    background-color: #2E7989;
    display: flex;
    padding: 6vh 0;

}

.imagen {
    width: 45%;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente si es necesario */
}

img {
    width: 600px;
}

.texto{
    width: 55%;
    padding: 0 5vh;
    color: white;
}

.texto h1{
    font-weight: bold;
    font-size: 57px;
}
.texto p{
    font-size: 30px;
}
